<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.model.repository.BCommentRepository">
    <insert id="insert">
        insert into bcomments (content,writer,boardid)
        values (#{content},#{writer},#{boardid})
    </insert>
    <delete id="delete">
        delete from bcomments
        where commentid = #{commentid}
    </delete>
    <select id="selectAll" resultType="Bcomment">
        select *
        from bcomments
        where boardid = #{boardid}
    </select>
</mapper>